/* Apply this to your `table` element. */
.path-finder-app .grid table {
  margin: 0 auto;
  border-collapse: collapse;
  border-top: solid rgb(175, 175, 175) 1px;
  border-right: solid rgb(175, 175, 175) 1px;
}

/* And this to your table's `td` elements. */
.path-finder-app .grid table td {
  padding: 0;
  margin: 0;
}
